<div class="form-group">
   

    <label for="login">Login</label>
    <textarea name="login" id="description" class="form-control" ></textarea>

    <label for="password">Password</label>
    <textarea name="password" id="description" class="form-control" ></textarea>

    <button type="submit" class="btn btn-success mt-2">Submit</button>
</div>