<div class="form-group">
   
    <label for="email">Email</label>
    <input type="email" name="email" id="email" class="form-control" ></input>

    <label for="login">Login</label>
    <input name="login" id="description" class="form-control" ></input>


    <label for="password">Password</label>
    <input type="password" name="password" id="password" class="form-control" ></input>


    <a href="/" class="btn btn-secondary mt-2" id="buttons">Cancel</a>
    <button type="submit" class="btn btn-success mt-2" id="buttons">Submit</button>
</div>

<style>
    #buttons{
        float: right;
        margin: 0.5rem;
    }
</style>