
<div class="form-group">
   


    <label for="login">Login</label>
    <input type="text" name="login" id="description" class="form-control" ></input>


    <label for="password">Password</label>
    <input type="password" name="password" id="password" class="form-control" ></input>

    
    <label for="password">Password</label>
    <input type="password" name="password2" id="password" class="form-control" ></input>

    <label for="password">Adres <p class="text-muted">np: Ul. Jankowa 19</p></label>
    <input type="text" name="ulica" id="password" class="form-control" ></input>

    <a href="/" class="btn btn-secondary mt-2" id="buttons">Cancel</a>
    <button type="submit" class="btn btn-success mt-2" id="buttons">Register</button>
</div>
<style>
    #buttons{
        float: right;
        margin: 0.5rem;
    }
</style>