<!DOCTYPE html>
<html lang="en">
<head>
   <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
      <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>xD</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>
<body>
   <div class="container">

    <h1 class="mb-4">Blog</h1>

    
    <form action="/login" method="post" id="testform">
        <%- include('_login_fields.ejs') %> 
    </form>
<script type="text/javascript"> 
var form = document.getElementById("testform");
function handleForm(event) { event.preventDefault(); } 
form.addEventListener('submit', handleForm);
try{
       let btn = document.querySelector("button.btn")
       btn.addEventListener("click",()=>{
       if ("<%=locals.alert%>" === "true"){

         Swal.fire(
  "You are not registred"
)
       }else {
         
         Swal.fire(
  'You logged in',
  'success'
)
       }
    }
       )}catch(err){
        console.log(err)
       }
</script>
    </div>

   </div>
<style>

   body{
    background-color: rgba(70, 75, 240, 0.79);
    font-family: 'Open Sans';

   }
   #test{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   }
   .nav{
    float: right;
    text-decoration: none;
    margin: 1rem;
    padding-left: 10px;
   }
</style>



    
</script>
    
</body>

</html>